{{#each this}}
  <li class='country-list__item'>
    <img src='{{flags.svg}}' alt='{{name.common}}' width='25px' height='25px' />
    <p class='country-list__text'>{{name.common}}</p>
  </li>
{{/each}}